/* Reglaje Estilos */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    /* Quiero que todos mis contenedores no se vean sobrepasados por su contenido, bordes o padding. */
}

h2, h3, p{
    text-align: center;
}

/* Tipografia Web */
body{
    font-family: 'Segoe UI', Tahoma, Geneva, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

/* Encabezado */
header{
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    /* DezplX - DezplY - Difusión - Color */
}

/* Barra de Navegación */
nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

nav a{
    color: white;
    text-decoration: none;
    transition: color 0.3 ease;
    /* Le digo a mi navegador que la transición no ocurra de golpe. */
    /* transition: propiedad duración tipo-de-transición; */
}

nav a:hover{
    color: #ff9800;
}

/* Secciones */
main section{
    margin: 40px 0;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1)
}

/* Portafolio */
.proyectos{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    /* Agregame columnas(Si sobra espacio llena, de minimo y de max) */
    gap: 20px;
    margin-top: 20px;
}

.tarjeta{
    background-color: #fafafa;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    margin-bottom: 20px;
}

.tarjeta:hover{
    transform: scale(1.03);
    box-shadow: 0 4px 15px rgba(0,0,0,0.15);
}

.tarjeta h3{
    margin-bottom: 10px;
}

.tarjeta a{
    display: inline-block;
    margin-top: 10px;
    color: #0077cc;
    text-decoration: none;
    transition: color 0.3s ease
}

.tarjeta a:hover{
    color: #ff9800;
}

/* Boton de Contacto */
.contenedor-boton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.boton-contacto{
    display: inline-block;
    padding: 10px 20px;
    background-color: #0077cc;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    box-shadow: 5px 2px 5px rgba(0, 0, 0, 0.2)
}

.boton-contacto:hover{
    background-color: #005fa3;
}

/* Píe de Pagina */
footer {
    text-align: center;
    padding: 20px;
    font-size: 0.9em;
    color: #555;
}

/* Adaptación de la pagina */
@media (max-width: 1024px) {
    nav ul {
    flex-direction: row;
    flex-wrap: wrap;
    /* Si es de 1024 o mas pequeña, la nav sigue en fila, */
    /* Pero los botones bajan a otra linea si no caben. */
    }
}

@media (max-width: 768px) {
    .proyectos {
    grid-template-columns: 1fr 1fr;}
    /* Si es de 760 o menos */
    /* Las tarjetas se veran en dos columnas */
}

@media (max-width: 480px) {
    nav ul {
    flex-direction: column;
    /* Se colocan uno debajo del otro */
    gap: 10px;
    }

    .proyectos {
    grid-template-columns: 1fr;
    }

    header h1 {
    font-size: 1.5em;
    }

}